body {
    display: flex;
    justify-content: center;
    background-color: #f8c583;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    font-size: large;
    color:rgb(73, 56, 1);

}
h4 {
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    font-size: large;
    color:rgb(73, 56, 1);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
  }

.page-wrapper {
    display: flex;
    justify-content: center;
    background-color: #faebd7;
    font-family: 'Courier New', Courier, monospace;
  }

  .page-header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faebd7;
  }

  .btn {
    width: 200px;
    height: 100px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  .btn:hover {
    background-color: rgb(194, 231, 125);
  }
  .post-title {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(208, 157, 18);
    margin: 7px;
  }
  .post-title:hover {
    background-color: rgb(243, 154, 20);
  }
.content-container{

    background-color: #f8c583;
    font-family: 'Courier New', Courier, monospace;

  }
  