<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
  </head>

  <body>
    <h3>Detail page</h3>

    <div class="title">Title {{ post.title}}</div>
    <div class="list">
      <h4>내용</h4>
      {{ post.content}}
    </div>
    <a href="{% url 'list_page' %}">list</a>
    <a href="{% url 'edit_page' post.pk %}">edit</a>

    <form method="POST">
      {% csrf_token %}
      <input type="text" name="content" placeholder="댓글을 입력해주세요" />
      <button type="submit">작성하기</button>
    </form>
    {% for comment in post.comments.all %}
    <li>{{comment.content}}<br /></li>
    {% endfor %}
  </body>
</html>
