<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리스트 페이지</title>
</head>
<body>
    <div class="content-container">
        <h3>LIST</h3>
        <br>
        {% if not posts %}
        <p>NONE</p>
        {% endif %}

        {% for post in posts %}
        <li>
            <a href="{% url 'detail_page' post.pk %}">
                {{ post.title }}</a>
            <a>{{ post.view }}</a>
        </li>
        {% endfor %}
    </div>

    <a class = "bb" href="{% url 'create_page' %}">NEW WRITE</a>
</body>
</html>