body {
    color: rgb(250, 189, 83);
    font-family: 'Space Mono', monospace;
    text-align: center;
    background-color: blanchedalmond;
    
}

h3 {

    margin-top: 100px;
}

div {
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 20px;
    border: solid rgb(194, 203, 253);
    color:rgb(112, 133, 252);
    font-size: medium;
 
}

