<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" rel=styleseet href="detail.css?ver=1">
    <title>Document</title>
</head>

<body>
    <div class=deadline>Deadline: {{Todo_deadline}}<br>{{ Todo.dday }} </div>

        <div class="todo_title">
            <h3>Title:  {{ Todo.title }} </h3>
        </div>

        <div class="todo_content">
            <h3>Content: <br> {{ Todo.content }}</h3>
        </div>

    <div class="links">
        <a href=" {% url 'home' %}">go to home</a>
        <a href="{% url 'edit' Todo.pk %}">edit</a>
        <a href="{% url 'delete' Todo.pk %}">delete</a>
    </div>
    

</body>
</html>