<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" rel=styleseet href="home.css?ver=1">
    <title>Document</title>
</head>

<body>
    <div class = "title">
        <h1>To Do List</h1>  
    </div>

    <div class="list">
        <ul>
         {% for To_do in To_dos %}
            <a href = "{% url 'detail' To_do.pk %}"> 
                <li>
                    {{To_do.title}} 
                    {{To_do.dday}} 
                </li>
            </a>
        {% endfor %}
        </ul>
    </div>
    <div class="link"><a href="{% url 'new' %}"> ADD todo list  </a></div>
    
 </body>
</html>