body{ 
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;

}
.content{
    color:aqua;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.title{
    color:aqua;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.linker{
    color:aqua;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}