body {
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom:0px;
    position:relative;
    left:100px;
}

.list{
    position: relative;
    bottom: 23px;
    left: 154px
}

.link{
    position: relative;
    bottom: 39px;
    left: 160px;
    
}