body{
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.content{
    color:blue;
    font-size: small;
    font-style: italic;
}
.title{
    color:orange;
    font-size: small;
    font-style: italic;
}

.deadline{
    color:blue;
    font-size: small;
    font-style: italic;
}

