<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Comaptible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/new.css">
        <title>blogProject</title>
    </head>
<body>
    <div class="main">
        <h1>Writing Page</h1>
    </div>  
    <from action="{% url 'new' %}" method="post">
       {% csrf_token %}
            <div class="title">
                <div>Title</div>
                <div>
                    <input type="text" name="title">
                </div>
            </div>
            <br>
            <div class="category">
                <div>Category</div>
                <div>
                    <select name = 'category'>
                        <option vlaue="hobby">Hobby</option>
                        <option vlaue="food">Food</option>
                        <option vlaue="coding">Coding</option>
                    </select>
                </div>
            <br>
            <div class="content">
                <div>Content</div>
                <div>
                    <textarea name="content" cols="30" rows="10"></textarea>
                </div>
            </div>
            <button type="submit">Done</button>
    </from>
</body>
</html>     